openapi: 3.2.0
info:
  title: LangDB AI Gateway Embeddings API
  description: OpenAI-compatible REST API for the LangDB AI Gateway.
  termsOfService: https://langdb.ai/terms
  contact:
    name: LangDB Support
    url: https://langdb.ai
    email: support@langdb.ai
  version: '1.0'
servers:
- url: https://api.us-east-1.langdb.ai/{project_id}/v1
  description: Project-scoped OpenAI-compatible base (US East 1).
  variables:
    project_id:
      default: your-langdb-project-id
      description: LangDB project id. May instead be supplied via the X-Project-Id header.
- url: https://api.us-east-1.langdb.ai
  description: Root base URL for analytics, usage, and thread management endpoints (US East 1).
security:
- bearerAuth: []
tags:
- name: Embeddings
  description: Vector embeddings for input text.
paths:
  /embeddings:
    post:
      operationId: createEmbedding
      tags:
      - Embeddings
      summary: Create embeddings
      description: Creates an embedding vector representing the input text or token array.
      parameters:
      - $ref: '#/components/parameters/ProjectIdHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingRequest'
      responses:
        '200':
          description: A list of embedding vectors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    EmbeddingRequest:
      type: object
      required:
      - model
      - input
      properties:
        model:
          type: string
          example: openai/text-embedding-3-small
        input:
          oneOf:
          - type: string
          - type: array
            items:
              type: string
        encoding_format:
          type: string
          enum:
          - float
          - base64
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            type:
              type: string
            code:
              type: string
    Usage:
      type: object
      properties:
        prompt_tokens:
          type: integer
        completion_tokens:
          type: integer
        total_tokens:
          type: integer
    EmbeddingResponse:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            type: object
            properties:
              object:
                type: string
                example: embedding
              index:
                type: integer
              embedding:
                type: array
                items:
                  type: number
        model:
          type: string
        usage:
          $ref: '#/components/schemas/Usage'
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit or cost limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    ProjectIdHeader:
      name: X-Project-Id
      in: header
      required: false
      description: LangDB project id. Optional when the project id is embedded in the request path.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'LangDB API key (project access token) sent as `Authorization: Bearer <token>`.'
